SERVER_PATH=C:/dev/canary_run

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=
MYSQL_DBNAME=otserv

SERVER_IP=127.0.0.1
SERVER_PORT=7172
SERVER_NAME=OTServBR-Global
SERVER_LOCATION=BRA

LOGIN_IP=127.0.0.1
LOGIN_HTTP_PORT=8088
LOGIN_GRPC_PORT=9090

ENV_LOG_LEVEL=debug
RATE_LIMITER_BURST=5
RATE_LIMITER_RATE=2
